body {
    margin: 0;
    display: flex;
    align-items: center;
    height: 98vh;
    flex-direction: column;
}

#top {
    min-width: 350px;
    /* max-width: 95%; */
    min-height: 30px;
    /* max-height: 30%; */
    width: 95%;
    height: 20%;
    /* background-color: #032127; */
    background-color: #0D4E59;
    border-radius: 8px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: space-evenly;
    color: #BEBEBE;
    font-size: 30px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    order: 1;
    /* gap: 1%; */
}

#titlebox{
    width: 68%;
    height: 90%;
    background-color: #2c6f7a;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #BEBEBE;
    font-size: 30px;

}

#batterybox {
    position: relative;
    width: 28%;
    height: 90%;
    background-color: dimgray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 30px;
    z-index: 2;
}

#batterybox::before{
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--nuevo-ancho-before);
    height: 100%;
    background-color: var(--batterybox-before-background-color, rgba(255, 255, 255, 0));
    border-radius: 8px;
    z-index: 10;
}

#batterybox::after{
    content: var(--batterybox-after-content, "Sin batería");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /* background-color: red; Solo para debuggear */
    /* opacity: 50%; */
    z-index: 20;
}

/* #charger {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #00000000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
} */


#linea {
    width: 95%;
    height: 95%;
    min-height: 21.875rem; /* 350px */
    min-width: 350px;
    background-color: #24d8f860;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    border-radius: 8px;
    margin-top: 5px;
    order: 2;
}

#datatop {
    min-width: 350px;
    max-width: 90%;
    width: 90%;
    height: 25%;
    /* border: 2px solid #00b7ff; */
    background-color: #C6EFFC;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 1%;
    color: #4C4C4C;
    flex-wrap: wrap;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    /* padding: 8px; */
    order: 1;
    /* margin-left: 2%; */
    /* border-left: 2%; */
}

#llbox{
    /* width: 90%; */
    height: 85%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #BEBEBE; */
    margin-left: 2%;
    order: 1;
}

#latbox, #longbox {
    min-width: 30px;
    /* max-width: 95%; */
    /* width: 95%; */
    height: 45%;
    font-size: 15px;
    background-color: #A0E9FD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    order: 1;
}

#timebox {
    /* width: 38%; */
    height: 85%;
    font-size: 15px;
    background-color: #A0E9FD;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-right: 2%;
    flex-grow: 1;
    order: 1;
}

#map {
    min-width: 300px;
    min-height: 30%;
    /* max-height: 60%; */
    width: 90%;
    height: 50%;
    border: 3px solid #C6EFFC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 5px;
    order: 2;
}

#acciones {
    min-width: 300px;
    max-width: 90%;
    width: 90%;
    height: 15%;
    background-color: #C6EFFC;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    color: #4C4C4C;
    flex-wrap: wrap;
    margin: 5px;
    order: 3;

}

#btninfo {
    background-color: #0D4E59;
    display: flex;
    margin: 5px ;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 25px 25px;
    outline: none;
    /* font-size: 5px; */
    order: 1;
    background-repeat:no-repeat;
    background-position: 0 0;
    background-position:center;
    background-size: 30px 30px;
}

#btnCentrar {
    color: #BEBEBE;
    background-color: #0D4E59;
    display: flex;
    margin: 5px ;
    border-radius: 50%;
    border: #A0E9FD;
    cursor: pointer;
    padding: 25px 25px;
    outline: none;
    order: 2;
    background-image: url(./img/marcador/location.png);
    background-repeat:no-repeat;
    background-position: 0 0;
    background-position:center;
    background-size: 30px 30px;
    /* animation: AnimRespiro 4s infinite ease-in-out; */
    /* animation: girar 4s infinite; */
}


#btnComoLlegar {
    color: #BEBEBE;
    background-color: #c51212;
    display: flex;
    margin: 5px;
    border-radius: 50%;
    border: #A0E9FD;
    cursor: pointer;
    padding: 25px 25px;
    outline: none;
    order: 3;
    background-image: url(./img/marcador/google-maps.png);
    background-repeat:no-repeat;
    background-position: 0 0;
    background-position:center;
    background-size: 30px 30px;
    animation: deslizar 3s infinite;
}



/* ***********************
***   Animaciones   ***
*********************** */

@keyframes AnimRespiro {
    0%, 100% {
        /* transform: translateY(0); */
        /* border: antiquewhite solid; */
        /* box-shadow: inset 0 0 8px 0 antiquewhite; */
    }
    50% {
        /* transform: translateY(-2px); */
        /* border: aqua solid; */
        box-shadow: inset 0 0 8px 0 aqua;
    }
}

@keyframes deslizar {
    0% {transform: translateX(0deg);}
    50% {transform: translateX(3px);}
    100% {transform: translateX(0px);}
}

@keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .girar {
    animation: girar 2s forwards;
  }